.side{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #000000a1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .header-tittle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .appTitulo{
    align-items: center;
  }

.botonEnlace {
    display: inline-block;
    padding: 10px 20px;
    text-align:left;
    text-decoration: none;
    color: #fff; /* Color del texto */
    /* background-color: #0067ac; /* Color de fondo del botón 
    border: 1px solid #0d66a1; Borde del botón */
    border-radius: 12px; /* Bordes redondeados */
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  
  /* Estilos al pasar el ratón sobre el enlace */
.botonEnlace:hover {
    background-color: #2980b9; /* Cambiar color de fondo al pasar el ratón */
  }