.card {
    width: 600px;
    height: 350px;
    padding: 20px;
    margin: 20px;
    background-color:rgb(0, 53, 109); ; /* Fondo de la tarjeta */
    border-radius: 8px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    /* Ajustes para hacer que la tarjeta sobresalga */
    position: relative;
    z-index: 1;
  }
  


  .botonesLinea{
    display: flex;
    width: 560px;
    justify-content:space-between;
    margin: 20px auto;
    padding-top: 60px;
  }